node-linker=hoisted
shamefully-hoist=true
auto-install-peers=true
strict-peer-dependencies=false
enable-pre-post-scripts=true
public-hoist-pattern[]=*jwt-decode*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*@types*
registry=https://registry.npmjs.com/
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000 